# Reverse gitignore - explicitly include files
*
!*/
!.gitignore

# Metadata
!README.md
!LICENSE.md

# Manually built corrections files. These are the ONLY files that should be included from /build/
!/build/corrections-*.json

# Source code
!/mappificator/**/*.py